.lowerkeys{
	height: 75vh;
	width: 14.25vw;
	background-color: white;
	border: 1vw solid black;
	color: grey;
	outline: none;
	z-index: 1;
	position: absolute;
	top: 0;
}
.keys{
	font-size: 5vh;
}
.keys:hover{
	cursor: pointer;
}
.lowerkeys:active {
	background-color: lightgrey;
}
.upperkeys{
	position: absolute;
	height: 45vh;
	width: 10vw;
	background-color: black;
	border: 1vw solid black;
	color: grey;
	outline: none;
	z-index: 2;
	top: 0;
}
.upperkeys:active {
	background-color: darkgrey;
}
body{
	background-color: burlywood;
	margin: 0;
	align-content: center;
}